.image-popup__container {
  position: relative;
  display: flex;
  margin: auto;
  width: fit-content;
  height: 75vh;
  margin-top: 12.5vh;
}

@media (max-width : 520px) {
  .image-popup__container {
    height: 53vh;
    margin-top: 24vh;
  }
} 