.element__like-button{
  position: relative;
  width: 20px;
  height: 18px;
  margin-left: 17px;
  border-style: none;
  margin-top: 31px;
  margin-right: 18px;
  padding: 0px;
  background-image: url(../../../../images/like.svg);
  background-size: cover;
  background-color: transparent;
}

.element__like-button:hover {
  opacity:0.5;
  cursor: pointer;
  transition: all 0.5s ease;
  top: 1px;
}
