.popup__container_main {
  width: 430px;
  height: 330px;
  background-color: white;
  flex-direction: column;
  justify-content: start;
  position: relative;
  border-radius: 10px;
}

@media (max-width : 520px) {
  .popup__container_main {
    width: 240px;
    height: 258px;
  }
}  
