.popup__name{
  width: 358px;
  height: auto;
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;
  padding-bottom: 13px;
  border-style: none;
  border-bottom: 1px rgba(0,0,0,0.2) solid;
}

.popup__name:focus{
  outline: none;
}

.popup__name::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

