.popup__input{
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  height: auto;
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;
  padding-bottom: 13px;
  border-style: none;
  border-bottom: 1px rgba(0,0,0,0.2) solid;
}


.popup__input::placeholder {
  color: black;
}

