.newplace-popup__list{
  width: 358px;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  justify-content: start;
  padding: 0px;
  border-style: none;
}  

@media (max-width : 520px) {
  .newplace-popup__list {
    margin-left: 20px;
    margin-bottom: 36px;
  }
} 


