.add-button {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 35px;
  right: 0px;
  background-image: url(../../../images/add.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

.add-button:hover {
  opacity:0.5;
}

@media (max-width : 767px) {
  .add-button {
    margin-top: 36px;
    position: static;
    background-size: 16px;
  }
}

@media (max-width : 550px) {
  .add-button {
    width: 100%;
  }
}