.newplace-popup_transit_open {
  display: flex;
  visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
  
.newplace-popup_transit_open:hover {
  visibility: visible;
  opacity: 1;
}

